<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="CONSOLE_LEVEL" source="logging.console.level"/>
    <springProperty scope="context" name="FILE_LEVEL" source="logging.file.level"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILE_LEVEL}</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-4r [%thread] %X{clientIP} %d{HH:mm:ss.SSS} [%p] [%thread@%C{1}:%L] - %m%n</pattern>
        </encoder>
        <file>${LOG_PATH}app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/app.log.%d{yyyy-MM-dd}.gz}</fileNamePattern>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-30}</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LEVEL}</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %date %highlight(%-5level) %cyan(%logger{5}@[%-4.30thread]) - %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
